---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hey, I'm AlberTECH <Badge>Disponible para trabajar</Badge></h1>
		<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem consequuntur sed deserunt velit, distinctio laudantium delectus illum tempora nam natus, eveniet aliquid ipsam quos saepe, sequi quaerat voluptatibus illo totam.</h2>
	</main>
</Layout>


