---
import SplineViewer from "./SplineViewer.astro";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="border border-gray-800 cursor-pointer hover:border-blue-400/30 transition rounded-lg"
  >
    <SplineViewer />
  </div>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2"
  >
    <p class="max-w-[420px]">
      ¡Soy Alberto! Empecé en el mundo de las Finanzas, pero descubrí que mi
      verdadera pasión estaba en la Programación.
    </p>
    <p class="max-w-[420px]">
      Desde que tomé esta decisión, disfruto aplicando mis habilidades analíticas
      para desarrollar soluciones de software que aborden problemas de manera
      efectiva.
    </p>
  </div>
</article>
