<span 
class="bg-lime-900 text-green-100 text-xs font-medium me-2 px-2.5 py-0.5
rounded hover:scale-105 hover:bg-lime-700 hover:text-white/80 transition duration-300 mb-10"
> 
<span class="flex items-center gap-2">
    <span class="w-2 h-2 rounded-full bg-lime-500 flex items-center justify-center">
        <span class="w-full h-full bg-lime-500 rounded-full animate-ping" />
    </span>
    <slot />
</span>

</span>
