---
import ExperienceItem from "../components/ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'ABRIL 2024 - JUNIO 2024',
        title: 'Desarrollador de Software Freelance',
        company: 'UpWork',
        description: 'Extracción y procesamiento de datos de documentos PDF mediante técnicas de scraping y expresiones regulares en Python. Limpieza de documentos y segmentación en formato JSON. Pruebas y automatización para la gestión de más de 70 tipos de documentos.',
        link: '#',
    }
];
---

<ol class="relative mt-16">   
    {
        EXPERIENCE.map(experience => (
            <li class="">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }
</ol>

