---
import ExperienceItem from "../components/ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'ABRIL 2024 - JUNIO 2024',
        title: 'Desarrollador de Software Freelance',
        company: 'UpWork',
        description: '- Data Scraping con Python - Uso de regex para PDF scraping',
        link: '#',
    }
];
---

<ol class="relative mt-16">   
    {
        EXPERIENCE.map(experience => (
            <li class="">
                <ExperienceItem { ... experience} />
            </li>
        ))
    }
</ol>

