<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row text-sm gap-x-2 lg:gap-x-10 opacity-80">
        <a class="hover:opacity-100 hover:scale-105 transition" href="#top">Inicio</a>
        <a class="hover:opacity-100 hover:scale-105 transition" href="#experiencia">Experiencia</a>
        <a class="hover:opacity-100 hover:scale-105 transition" href="#proyectos">Proyectos</a>
        <a class="hover:opacity-100 hover:scale-105 transition" href="#contacto">Contacto</a>
    </nav>
</header>